/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  background-color:black;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}
#a1{
  font-size:19px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo { font-size: 24px; }
nav ul {
  list-style: none;
  display: flex;
}
nav ul li { margin-right: 20px; }
nav ul li a { text-decoration: none; color: white; }
/* #dark-mode-toggle { background: none; border: none; color: white; font-size: 20px; } */

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  background: #222;
  color: white;
  text-align: center;
}
.hero img { height:500px; width: 500px;border-radius: 50%; object-fit: cover; }
.hero .btn {
  padding: 10px 20px;
  background: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}

/* About Section */
#about {
  padding: 50px;
  text-align: center;
  background: #f4f4f4;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
nav ul li a.active {
  color: orange;
  font-weight: bold;
}
#pra{
  color: white;
  font-size:17px;
  font-weight: 500;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  font-size: 3rem;
  color:orangered;
  font-weight: bold;
  text-decoration:underline;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0 0 10px #ff6347, 0 0 15px #ff6347; */
}
h3{
  color: teal;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: underline;
}

#grad{
  object-fit: cover;
  border: 5px groove gray;
}
#projects{
  border: 2px inset white ;
  border-radius: 30px;
  height: 240px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
th, td {
  border: 2px groove teal;
  padding: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
th {
  background-color:rgb(255, 145, 0);
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* contrct */
#body1{
  display: flex;
  justify-content: center;
  align-items: center;

}
.social-icons {
  display: flex;
  gap: 60px;
  
}

.social-icons a {
  font-size: 50px;
  color:orangered;
  text-decoration: none;
  transition: color 0.3s ease;
  
}

.social-icons a:hover {
  color: #0077b5; /* LinkedIn Blue */
}
#mains{
  display: flex;
  justify-content: center;
  align-items: center;
}